main {
  min-height: calc(100vh - 145px);
  padding-top: 2em;
}
/* 
.site-header-desktop .logo img {
  background: url(/public/static/logo.f09bd38cb6bf.png) left top no-repeat;
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  padding-left: 250px;
  background-size: contain !important;
  height: 125% !important;
}

No a working img replacement for mobile.
  It does remove the other logo
  TODO: fix

.site-header-mobile .logo img {
  background: url(/public/static/logo.f09bd38cb6bf.png) left top no-repeat;
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  padding-left: 250px;
  background-size: contain !important;
  height: 125% !important;
}
*/
