main {
  min-height: calc(100vh - 145px);
  padding-top: 2em;
}

.btn, .btn:focus, .btn:active, .btn:focus::before{
  border-radius: 0.3rem;
}

.eol-breadcrumb > .breadcrumb{
  background-color: #f2f2f2;
}