amqp==2.6.1
astroid==2.4.2
billiard==3.6.3.0
celery==4.4.7
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
defusedxml==0.7.0rc1
Django==2.2.16
django-celery-beat==2.0.0
django-celery-results==1.2.1
django-crispy-forms==1.9.2
django-filter==2.4.0
django-timezone-field==4.0
django-waffle==2.0.0
djangorestframework==3.12.1
djangorestframework-jwt==1.11.0
drf-jwt==1.17.2
edx-auth-backends==3.1.0
edx-django-utils==3.8.0
edx-drf-extensions==6.1.1
edx-opaque-keys==2.1.1
edx-rest-api-client==5.2.1
factory-boy==2.12.0
Faker==4.4.0
future==0.18.2
gunicorn==19.9.0
idna==2.10
isort==4.3.21
kombu==4.6.11
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
newrelic==5.20.0.149
numpy==1.19.2
oauthlib==3.1.0
pandas==1.1.2
pbr==5.5.0
psutil==5.7.2
psycopg2-binary==2.8.6
ptvsd==4.3.2
pycparser==2.20
pycryptodomex==3.9.8
pyjwkest==1.4.2
PyJWT==1.7.1
pylint==2.5.3
pymongo==3.11.0
python-crontab==2.5.1
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
rest-condition==1.0.3
semantic-version==2.8.5
six==1.15.0
slumber==0.7.1
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sqlparse==0.3.1
stevedore==3.2.2
text-unidecode==1.3
toml==0.10.1
urllib3==1.25.10
vine==1.3.0
whitenoise==5.2.0
wrapt==1.12.1
